.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
}

.portfolio-item {
  background: linear-gradient(var(--color-bg), var(--color-bg-variant));
  padding:1.2rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: .5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portfolio-item-img img {
  border-radius: 1.4rem;
}

.portfolio-item h3 {
  margin-top: 1.5rem;
}

.portfolio-item:hover {
  border-color: var(--color-primary-variant);
  background-blend-mode: hard-light;
  background-color: var(--color-bg-variant, 0.5);
  animation: pulse;
  animation-duration: 2.3s;
  transition-timing-function: ease;
}

@media screen and (max-width: 1024px) {
  .portfolio-container {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .portfolio-container {
      grid-template-columns: 1fr;
    }
  }