.about-container {
  display: grid;
  grid-template-columns: 38% 50%;
  gap: 15%
}

.about-me {
  
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-me-img-container {
  border-radius: 2rem;
  background: linear-gradient(45deg,
        transparent,
        var(--color-primary),
        transparent);
}

.about-me-img {
  border-radius: 2rem;
  overflow: hidden;
}

.about-me-cards {
  display: flex;
  flex-direction: row;
  flex: 1 1 50%;
  gap: 1.5rem;
  justify-content: space-around;
}

.about-me-card {
  background: linear-gradient(var(--color-bg-variant), var(--color-bg));
  border: 1px solid transparent;
  padding: 2rem;
  text-align:center;
  /* border-radius: 1rem; */
  width: 33%;
}

.about-me-card:hover {
  background-blend-mode: hard-light;
  background-color: var(--color-bg-variant, 0.5);
  animation: pulse;
  animation-duration: 2.3s;
  cursor: default;
  transition: .5s;
}

.about-me-card h5 {
  font-size: 1.2rem;
}

.about-me-card p {
  font-size: .75rem;
  color: var(--color-light);
}

.about-card-icon {
  color: var(--color-primary);
  font-size: 2rem;
}

.about-me-para {
  color: var(--color-light);
  margin: 2rem 0 1rem;
  font-size: .85rem;
}

.pic {
  background: linear-gradient(var(--color-primary), transparent);
  display: flex;
  width: 18rem;
  height: 26rem;
  margin-top: 4rem;
  border-radius: 12rem 0 12rem 0;
  flex-direction: column;
}

.pic-outline {
  background: linear-gradient(var(--color-primary-variant), transparent);
  width: 16rem;
  height: 26rem;
  margin: 2rem;
  border-radius: 12rem 0 12rem 0;
  z-index: 1;
  overflow: hidden;
}

.pic img {
  height: 24rem;
}

.pic-outline:hover {
  animation: pulse;
  animation-duration: 2.3s;
  transition-timing-function: ease;
}

.pic:hover {
  animation: pulse;
  animation-duration: 2s;
  transition-timing-function: ease;
}

@media screen and (max-width: 1024px) {
  .about-container {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .about-me{
    width: 50%;
    margin: 2rem auto 4rem;
  }

  .about-me-content p {
    margin: 1rem 0 1.4rem;
  }
}

@media screen and (max-width: 600px) {
  .about-me {
    width: 80%;
    margin: 0 auto 3rem;
  }

  .about-me-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
    align-items: center;
  }

  .about-me-card {
    width: 60%;
  }

  .about-content {
    text-align: center;
  }

  .about-content p {
    margin: 1.5rem 0;
  }

  
}