.contact-container {
  width: 55%;
  display: flex;
  gap: 15%;
  justify-content: center;
}

.contact-methods {
  display: flex;
  gap: 2rem;
  flex-direction: row;
  margin-bottom: 6rem;
}

.contact-method {
  background: linear-gradient(var(--color-bg-variant), var(--color-bg));
  padding: 1.5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: .5s;
}