#contact {
  margin-bottom: 3rem;
}
.contact-container {
  width: 90%;
  display: flex;
  gap: 15%;
  justify-content: center;
  margin-bottom: 0 auto 4rem auto;
}

.contact-methods {
  display: flex;
  gap: 1.2rem;
  flex-direction: column;
}

.contact-method {
  background: linear-gradient(var(--color-bg-variant), var(--color-bg));
  padding: .5rem;
  text-align: center;
  border: 1px solid transparent;
  transition: .5s;
}

.contact-method:hover {
  background-blend-mode: hard-light;
  background-color: var(--color-bg-variant, 0.5);
}

.form-container {
  padding-right:2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.2;
  flex-basis: 30%;
  transition: .5s;
}

input, textarea {
  width: 100%;
  background: linear-gradient(var(--color-bg-variant), var(--color-bg),.5);
  border: 3px solid var(--color-primary-variant);
  resize: none;
  margin: .5rem;
  padding: .5rem 0 .5rem .5rem;
  color: white;
}

input:hover, textarea:hover {
  background: linear-gradient(var(--color-bg-variant), var(--color-bg));
  border-color: transparent;
}

@media screen and (max-width: 1024px) {
  .contact-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {

  .contact-container {
    width: var(--container-width-sm)
  }
 

}