nav {
  background: rgba(0, 0, 0, 0.4);
  width: max-content;
  padding: 0.8rem 1.8rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  display: flex;
  gap: 1rem;
  border-radius: 3rem 0 3rem 0;
  backdrop-filter: blur(.3rem);
}

nav a {
  background: transparent;
  padding: 1rem;
  border-radius: 50%;
  display: flex;
  color: var(--color-light);
  font-size: 1.4rem;
}

nav a.active {
  background: var(--color-primary-variant);
  color: white;
}